{#
/**
 * @file
 * Theme for Dropdown Files.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
  'dropdown',
  'show'
]
%}

{% if items -%}
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    {{ 'Download'|t }}
  </button>

  <ul{{ attributes.addClass('dropdown-menu', 'mb-0') }}>
    {%- for item in items -%}
      <li{{ item.attributes.addClass('dropdown-item') }}>
        {{ item }}
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}
