{% if exposedFilters %}
    <!-- Button to toggle the form -->
    <button id="toggleFiltersForm" class="button-visible" title="Toggle filters"><img
                src="/modules/contrib/edw_modules/modules/edw_maps/assets/icons/filter-solid.svg" alt="Toggle filters"></button>
{% endif %}

<!---- Map container ---->
<div id="{{ mapContainerId }}" class="map-container"></div>
