{#
/**
 * @file
 * Theme override to display the 'Links block' paragraph.
 *
 * Parameters:
 * - "title" (string) (default: '')
 * - "items" (array)
 * - "extra_classes" (string) (default: '')
 * - "extra_attributes" (array) (default: []): format: [
 *   {
 *     "name" (string) (default: ''),
 *     "value" (optional) (string)
 *    ...
 *   ]
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}
{# Enable library if needed. #}
{#{{ attach_library('edwt/list-group') }}#}

{% if not content.field_title.isEmpty %}
  <div class="h5">
    {{ content.field_title }}
  </div>
{% endif %}

{{ content|without('field_title') }}
