{#
/**
 * @file
 * Theme override to display the 'Text with Media' paragraph.
 *
 * Parameters:
 * - "title" (string) (default: ''): Title of the card
 * - "media" (block) (default: ''): A media image
 * - "description" (string) (default: ''): Card description
 * - "position" (string) (default: 'left'): Image position
 * - "layout" (string) (default: '6/6'): Layout of the component (Bootstrap column classes)
 * - "extra_classes" (string) (default: '')
 * - "extra_attributes" (array) (default: []): format: [
 *   {
 *     "name" (string) (default: ''),
 *     "value" (optional) (string)
 *    ...
 *   ]
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 *
 * Pattern example:
*  {{ pattern(pattern, {
*     'variant': variant,
*     'description': content.field_body,
*     'media': content.field_media,
*     'layout': grid_layout|default('6/6'),
*   })}}
 */
#}
{% set title = content.field_title %}

{% if title %}
  <div class="h2">{{ title }}</div>
{% endif %}

{% include '@edw_paragraphs/components/edw-featured-item.twig' with {
  description: content.field_body,
  media: content.field_media,
  position: media_position|default('left'),
  layout: grid_layout|default('6/6'),
}%}

