{#
/**
 * @file
 * Theme override to display the 'Rich text' paragraph.
 *
 * @see ./modules/contrib/paragraphs/templates/paragraph.html.twig
 */
#}

<h2>{{ content.field_title }}</h2>
{{ content.field_body }}
